@page "/"
@using Jarvis.Components.Pages.Home.HomeTab
@using Jarvis.Components.Pages.Home.SearchTab
@using Jarvis.Components.Pages.Shared
@using Microsoft.FluentUI.AspNetCore.Components.Icons.Regular;

@inject NavigationManager _navManager

@if (CascadingUser?.User is null)
{
    <text>Carregando...</text>
}
else
{   
    <div class="d-flex justify-content-between">
        <img class="rounded-circle" src="@(CascadingUser.User.ProfilePictureUrl)" height="75" width="75" />
        <div class="d-flex flex-column justify-content-center align-items-center fs-4 gap-1">
            <span>Bom dia ⛅</span>
            <span class="fw-bold">@CascadingUser.User.Name</span>
        </div>
        <FluentIcon Value="@(new Size24.LauncherSettings())" OnClick=RedirectToSettingsPage />
    </div>

    <FluentTabs ActiveTabId="home-id" class="mt-4">
        <FluentTab Id="home-id">
            <Header>
                <FluentIcon Value="@(new Size20.Home())" /> 
                Home
            </Header>
            <Content>
                <HomeContent User=CascadingUser.User />
            </Content>
        </FluentTab>
        <FluentTab Id="search-id" >
            <Header>
                <FluentIcon Value="@(new Size20.Search())" /> 
                Buscar
            </Header>
            <Content>
                <SearchContent />
            </Content>
        </FluentTab>
    </FluentTabs>
}


@code{

    [CascadingParameter, EditorRequired]
    private CascadingUser? CascadingUser { get; set; }

    private void RedirectToSettingsPage()
    {
        _navManager.NavigateTo("/settings");
    }
}