@page "/"
@using Jarvis.Components.Pages.Home.HomeTab
@using Jarvis.Components.Pages.Shared

@inject NavigationManager _navManager

@if (CascadingUser?.User is null)
{
    <text>Carregando...</text>
}
else
{    
    <div class="row">
        <div class="col-md-3">
            <img src="@(CascadingUser.User.PictureUrl)" />
        </div>

        <div class="col-md-6">
            <div class="d-flex flex-column align-items-center">
                <span>Bom dia ⛅</span>
                <span>@CascadingUser.User.Name</span>
            </div>
        </div>

        <div class="col-md-3">
            <FluentIcon Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size20.LauncherSettings())" OnClick=RedirectToSettingsPage />
        </div>
    </div>
    <div class="d-flex">
        <FluentButton>Home</FluentButton>
        <FluentButton>Buscar</FluentButton>

        <FluentTabs>
            <FluentTab Id="home">
                <Header>
                    <FluentIcon Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size20.Home())" /> Home
                </Header>
                <Content>
                    <HomeContent User=CascadingUser.User />
                </Content>
            </FluentTab>
            <FluentTab Id="search">
                <Header>
                    <FluentIcon Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size20.Search())" /> Buscar
                </Header>
                <Content>

                </Content>
            </FluentTab>
        </FluentTabs>
    </div>
}


@code{

    [CascadingParameter, EditorRequired]
    private CascadingUser? CascadingUser { get; set; }

    private void RedirectToSettingsPage()
    {
        _navManager.NavigateTo("/settings");
    }
}